@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color:#4e4e4e;
    line-height: 22px;
    margin: 0;
}

a {
    color: #c52d2f;
    text-decoration: none;
}

a:hover {
    color: #c52d2f;
    text-decoration: underline;
}

.btn-primary, .btn-info {
    background: #c52d2f none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
    padding: 8px 20px;
}
.btn-info:hover, .btn-info:focus,.btn-primary:hover, .btn-primary:focus {
    background: #c52d2f none repeat scroll 0 0;
    box-shadow: none;
    outline: medium none;
}
.btn-transparent {
    background: transparent none repeat scroll 0 0;
    border: 3px solid #fff;
    color: #fff;
}
.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}
.form-group label { 
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 300;
}

.zf-green {
    
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.top-bar {
    background: #191919 none repeat scroll 0 0;
    border-bottom: 1px solid #222;
    line-height: 15px;
    padding: 5px 0;
}

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.search {
    display: inline-block;
}

ul.social-share li {
    display: inline-block;
}

input.search-form {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    padding: 0 10px;
    transition: all 400ms ease 0s;
    width: 60px;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.social-share li a:hover {
  background: #c52d2f;
  color: #fff;
}

.search i {
  color: #fff;
}

.top-number{
  color: #fff;
}

.navbar {
    background: #151515 none repeat scroll 0 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0 0;
}

#footer {
    background: #2e2e2e none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 5px solid #c52d2f;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 36px;
    line-height: 50px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-top: 0 none;
    padding-bottom: 0;
}

.navbar-nav {
    margin-top: 4px;
}

.navbar-nav > li {
    margin-left: 15px;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a {
     border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    margin: 10px 0;
    padding: 5px 12px;
}

.navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #c52d2f 0px, #c52d2f 100%);
    background-repeat: repeat-x;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
}

.btn-more, .btn-more:hover {
    background: #c52d2f none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
    padding: 8px 20px;
}

.search-form:hover {
    width: 180px;
}

.profile-usertitle-location{
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

#footer ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

#footer ul > li {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #c52d2f;
    text-decoration: none;
}

.gmap {
    border: 10px solid #f6f5f0;
    // border-radius: 50%;
    box-shadow: 0 0 3px 3px #e7e4dc;
    height: 470px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 620px;
}

.contact-us .center {
    padding-bottom: 15px;
    text-align: center;
}

.contact-us .contact-wrap {
    margin-top: 20px;
}

.carousel {
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding: 0;
}

em {
    color: #c52d2f;
    font-weight: 400;
}
