@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color:#4e4e4e;
    line-height: 22px;
    margin: 0;
}

a {
    color: #c52d2f;
    text-decoration: none;
}

a:hover {
    color: #c52d2f;
    text-decoration: underline;
}

.btn-primary, .btn-info {
    background: #c52d2f none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
    padding: 8px 20px;
}
.btn-info:hover, .btn-info:focus,.btn-primary:hover, .btn-primary:focus {
    background: #c52d2f none repeat scroll 0 0;
    box-shadow: none;
    outline: medium none;
}
.btn-transparent {
    background: transparent none repeat scroll 0 0;
    border: 3px solid #fff;
    color: #fff;
}
.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}
.form-group label { 
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 300;
}

.zf-green {
    
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  color: #D04235;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
  color: #D04235;
}

.profile-usertitle-name {
  color: #D04235;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #D04235;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #D04235;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #D04235;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #D04235;
  background-color: #f6f9fb;
  border-left: 2px solid #D04235;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.top-bar {
    background: #191919 none repeat scroll 0 0;
    border-bottom: 1px solid #222;
    line-height: 15px;
    padding: 5px 0;
}

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.search {
    display: inline-block;
}

ul.social-share li {
    display: inline-block;
}

input.search-form {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    padding: 0 10px;
    transition: all 400ms ease 0s;
    width: 60px;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.social-share li a:hover {
  background: #c52d2f;
  color: #fff;
}

.search i {
  color: #fff;
}

.top-number{
  color: #fff;
}

.navbar {
    background: #151515 none repeat scroll 0 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0 0;
}

#footer {
    background: #2e2e2e none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 5px solid #c52d2f;
}

.btn-more, .btn-more:hover {
    background: #c52d2f none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
    padding: 8px 20px;
}

.search-form:hover {
    width: 180px;
}

.profile-usertitle-location{
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

#footer ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

#footer ul > li {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #c52d2f;
    text-decoration: none;
}

.gmap {
    border: 10px solid #f6f5f0;
    // border-radius: 50%;
    box-shadow: 0 0 3px 3px #e7e4dc;
    height: 470px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 620px;
}

.contact-us .center {
    padding-bottom: 15px;
    text-align: center;
}

.contact-us .contact-wrap {
    margin-top: 20px;
}

.carousel {
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
}

em {
    color: #c52d2f;
    font-weight: 400;
}

.panel-default > .panel-heading, .panel-info > .panel-heading {
    background: #F5F5F5;
    border-color: #F5F5F5;
    color: #c52d2f;
    transition: color 300ms ease 0s, background-color 300ms ease 0s;
}

.panel-title {
    color: #c52d2f;
    transition: color 300ms ease 0s, background-color 300ms ease 0s;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

ul.pagination > li > a, ul.pagination > li.disabled > a  {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
    padding: 5px 14px;
    
}

.pagination-lg > li > a, .pagination-lg > li > span {
    font-size: 18px;
    padding: 10px 16px;
}

ul.pagination > li.active > a, ul.pagination > li:hover > a, 
ul.pagination > li.disabled:hover > a {
    background-color: #c52d2f !important;
    border-color: #c52d2f !important;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 36px;
    line-height: 50px;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    max-height: 340px;
    overflow-x: visible;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav {
    margin-top: 4px;
}

.navbar-nav > li {
    margin-left: 5px;
    padding-bottom: 15px;
}

.navbar-inverse .navbar-nav > li > a {
	border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    margin: 10px 0;
    padding: 5px 12px;
}

.navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #c52d2f 0px, #c52d2f 100%);
    background-repeat: repeat-x;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
}

/* Brand listing horizontal slide bar */
.carousel-brand {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 60px;
    padding: 5px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

/* Job listing vertical slide bar */
.btn-vertical-slider{ 
    margin-left:35px; 
    cursor:pointer; 
    text-align: center; 
}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

.contact-info i {
    background: #000 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}

.contact-info h2 {
    color: #000;
    margin-top: 0;
}

.contact-info i.icon {
     background: #000 none repeat scroll center top;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}

.scrollup {
    width:32px;
    height:32px;
    position:fixed;
    bottom:100px;
    right:25px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
}

.label-info {
    background-color: #D04235;
}

#publish_date {
    background: #c52d2f none repeat scroll 0 0;
    border-bottom: 5px solid #4e4e4e;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}
.blog .blog-item .entry-meta {
    border-radius: 5px;
    overflow: hidden;
}

.blog .blog-item .entry-meta > span {
    color: #ccc;
}
.blog .blog-item .entry-meta > span {
    background: #f5f5f5 none repeat scroll 0 0;
    border-top: 1px solid #fff;
    display: block;
    font-size: 12px;
    overflow: hidden;
    padding: 5px;
    text-align: left;
}
.text-center {
    text-align: center;
}

.dropdown-menu {
    margin-top: 0px;
    min-width: 180px;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgba(21, 21, 21, 21);
  -webkit-box-shadow: 0 3px 8px rgba(21, 21, 21, 21);
  -moz-box-shadow: 0 3px 8px rgba(21, 21, 21, 21);
  box-shadow: 0 3px 8px rgba(21, 21, 21, 21);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    color: #fff;
    padding: 8px 15px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover, 
.navbar-inverse .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #c52d2f;
    color: #262626;
    text-decoration: none;
}

.navbar-inverse .navbar-nav .dropdown-menu > .active > a, 
.navbar-inverse .navbar-nav .dropdown-menu > .active > a:hover, 
.navbar-inverse .navbar-nav .dropdown-menu > .active > a:focus {
    background-color: #c52d2f;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}
.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
    background-color: transparent;
} 

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #c52d2f;
    background-image: linear-gradient(to bottom, #c52d2f 0px, #c52d2f 100%);
    background-repeat: repeat-x;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
}